.color {
    width: 100px;
    height: 30px;
    float:left;
    border: 2px solid black;
    margin: 1%;
    border-radius: 7%;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    padding: 0%;
}
#color-palette {
    width: 220px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:space-around flex-start;
    margin-bottom: 15%;
}   
#pixel-board{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    margin: 1%;
}

.pixel{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin: 1%
}
